input, select, textarea
{
	padding: 10px 20px 10px 20px;
	font-size: $buttonFontSize;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	@media screen and (min-width: 640px){
		font-size: ($buttonFontSize)-0.5;
	}
}

textarea.search
{
	min-height: 300px;
	min-width: 90%;
	max-width: 90%;

}

.search
{
	width: 90%;
}

table, tr, td, th
{
	width: 100%;
}


@media screen and (min-width: 640px) {
	.inlineForm
	{
		width: 49%;
		display: inline-block;
		vertical-align: top;
	}
}