//
//@mixin grille
//@param : %, int, int, int
//Valeurs exprimees en colonnes
//

@mixin grille($tailleCol, $nbCol, $largBox, $offSet)
{
	box-sizing: border-box;
	$largCol: $tailleCol;
	$largGout: (100-($nbCol*$tailleCol));
	$width: $largBox*$tailleCol+($largBox - 1)*$largGout;
	$margLeft: $offSet*$tailleCol+($offSet + 1)*$largGout;

	@for $i from 0 through $nbCol 
	{
			%taille-#{$i}-colonne
			{
				width: ($i*$width)/$nbCol;
				// display: inline-block;
				// border: solid 1px black;
				font-size: 1rem;
			}

			%offset-#{$i}-colonne
			{
				margin-left: ($i*$margLeft)/$nbCol;
			}
	}
}

.grid
{
	max-width: 100%;
	@include grille(12.5%, 8, 8, 8);
}