/**** HEADER ****/
header
{
    text-align: center;
    padding: 15px 0 25px 0;
    background: $bg;
    border-bottom: solid 5px darken($bg, 20);

    @media screen and (min-width: 640px){
    	background-image: url('../img/backGr18.jpg');
	    background-repeat: no-repeat;
	    background-position: center;
		background-size: 100%; 

		div, form
		{
			display: inline-block;
			width: 49%;
			vertical-align: middle;
		}

		form > input
		{
			width: 100%;
			margin: auto;
			margin-bottom: 5px;
		}

		form > input:last-of-type
		{
			font-size: 1.7vw;
		}
	}
}

header > div > img
{
	width: 15%;
	@media screen and (min-width: 640px) {
		width: 35%;
	}
}

header > div > h1, header > div > h2
{
	color: $colorHeader;
	padding: 5px 0 5px 0;
	font-weight: 100;
	margin-bottom: 15px;
}

