/**** JUMBOTRON ****/
$jumboBg: #C8C8C8;

.jumbotron
{
    width: 70%;
    margin: auto;
    background: $jumboBg;
    border-radius: 5px;
    text-align: center;
    padding: 15px 0 30px 0;
}

.jumbotron p
{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 100;
}

.jumboBig
{
    width: 90%;
    margin: auto;
}

.jumboBig > p
{
    width: 90%;
    margin: auto;
    text-align: justify;
    padding-top: 10px;
    font-size: 1.7em;
    font-weight: 200;
}

.jumboBig > p:last-of-type
{
    margin-top: 10px;
}

.jumboBig > img
{
    display: block;
    border-radius: 10px;
    margin: auto;
    width: 90%;
}

.jumboV2
{
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    border-top: solid 1px #AEAEAE;
    text-align: center;
}

.jumboV2 a
{
    border-bottom: none;
    color: $colorDark;
    text-decoration: none;
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 14px;
    // box-shadow: none;
    @extend .btn;
    @extend .btnOrange;
}

.jumboV2 p
{
    text-align: justify;
    font-size: 1.7em;
    font-weight: 200;
}

.jumboV2 p:last-of-type
{
    font-size: 6vw;
}

.jumboV2 > img
{
    height: 200px;
    max-width: 100%;
    width: auto;
}

.jumboMini
{
    @extend .jumboV2;
}

.jumboMini > a, .jumboV3 > a
{
    color: $colorDark;
    text-decoration: none;
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 14px;
    @extend .btn;
    @extend .btnBlue;
}

.jumboV3
{
    @extend .jumboV2;
    width: 100%;
    border-top: none;
}

.jumboList
{
    @extend .jumboV2;
}

.jumboV4
{
    background: $bgJumbo4;
    border-radius: 10px;
}

.jumboV4 > div > form
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumboV4 > div > form > input
{
    display: inline-block;
    @extend .btn; 
}

.jumboV4 > div > a
{
    @extend .btn; 
    margin-bottom: 20px;
}

.jumboV4 > div > form > input:not(:last-of-type)
{
    box-shadow: none;
}

.jumboV4 > div > div
{
    border: solid 1px darken($bgJumbo4, 30);
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 5px;
}

.jumboV4 > div > div > p > span:first-of-type
{
    display: inline-block;
    font-size: 1.5vw;
    width: 30%;
}

.jumboV4 > div > div > p > span:last-of-type
{
    margin-left: 30%;
    font-size: 1.5vw;
}

.jumboV4 > div > div > form > input, .jumboV4 > div > div > form > select, .jumboV4 > div > div > form > textarea
{
    width: 80%;
    @extend .btn;
}

.jumboV4 > div > div > form > input:not(:last-of-type), .jumboV4 > div > div > form > select, .jumboV4 > div > div > form > textarea
{
    box-shadow: none;
}

.jumboV4 > div > div > form > textarea
{
    min-height: 120px;
}

.jumboV4 > div > div > table > tbody > tr > td
{
    width: 70%;
    font-family: $fontStack;
}

.jumboV4 > div > div > table > tbody > tr > td > input
{
    @extend .btn;

}

@media screen and (min-width: 640px) and (max-width: 1080px) {
    .jumboV2
    {
        width: 48%;
        margin: 0 1% 0 1%;
        display: inline-block;
        vertical-align: top;
    }

    .jumboV2 p:last-of-type
    {
        font-size: 3.2vw;
    }

    .jumboV3, #indexList
    {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }   

    .jumboList
    {
        margin-left: 0.6%;
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }

    .jumboBig img
    {
        width: auto;
        display: block;
        border-radius: 10px;
        margin: auto;
    }
}

@media screen and (min-width: 1080px){
    .jumboV2
    {
        width: 30%;
        margin: 0 1.5% 0 1.5%;
        display: inline-block;
        vertical-align: top; 
    }

    .jumboV2 p:last-of-type
    {
        font-size: 2vw;
    }

    .jumboV2 > h4
    {
        font-size: $fontSize/1.8;
    }

    .jumboBig img
    {
        width: auto;
        display: block;
        border-radius: 10px;
        margin: auto;
    }
}

