/**** STYLES SUR LISTES ****/

.listExotic
{
    list-style: none;
}

.listExotic li::before
{
    content: "⇒";
}

.listExoticSimple
{
    list-style: none;
}

.listExoticSimple li::before
{
    content: "→";
}

.listSquare
{
    list-style: square;
}

.listNone
{
    list-style: none;
}

.listExotic li a, 
.listExoticSimple li a, 
.listExoticSquare li a, 
.listNone li a
{
	text-decoration: none;
	color: $colorDark;
	font-size: 1.6em;
	display: block;
	width: 100%;
	padding: 20px 0 20px 5%;
}