$colorInB : #212121;

.inlineBlock
{
	margin: 0;
	padding: 0;
	font-size: 0;
	background: $bg;
	margin-bottom: 10px;
}

.inlineBlock > li
{
	display: block;
	font-size: 1.6rem;
	width: 100%;
	min-width: 150px;
	border-bottom: solid 5px darken($bg, 20);
	@media screen and (min-width: 640px){
    	display: inline-block;
    	width: 33.333%;
    	font-size: 1.3rem;
	}
}


.inlineBlock > li:hover
{
	background: lighten($bg, 5);
}

.inlineBlock > li > a
{
	display: block;
	padding: 5%;
	text-align: center;
	color: $colorInB;
	text-decoration: none;
	font-weight: 100;
	@media screen and (min-width: 640px) {
    	padding: 7%;
    	font-weight: normal;
	}
}

.inlineBlock > li > a.disabled,
.inlineBlock > li > a.disabled:hover
{
	background: lighten($bg, 20);
	cursor: initial;
}

.inlineBlock > li > a.active
{
	background: darken($bg, 20);
}

.navVertical
{
	box-sizing: border-box;
	position: fixed;
	top: 0;
	background: $bgStaff;
	width: 20%;
	min-height: 100%;
}

.navVertical > h1
{
	@extend .center;
}

.navVertical > .block > li
{
	border-bottom: solid 1px darken($bgStaff, 15);
}

.navVertical > .block > li:first-of-type
{
	border-top: solid 1px darken($bgStaff, 15);
}

.navVertical > .block > li > a
{
	display: block;
	font-size: 1.8vw;
    height: $buttonHeight;
    color: $btnColor;
    text-decoration: none;
    cursor: pointer;
    background: $bgStaff;
    padding: 12px 20px 10px 20px;
    border: none;
    font-weight: 100;
}

.sideNavVertical
{
	box-sizing: border-box;
	margin-left: 22%;
	margin-top: 2%;
	padding: 1%;
	width: 76%;
}