/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);


$bg : #F37144;
$colorSmall: #909090;
$colorGreyMedium: #EDFEDF;
$marginBottom: 10px;
$bgMark: #212121;
$color: #212121;
$colorDark: #212121;
$colorHeader: #FFFFFF;
$colorRed: #EF1209;
$borderColor: #343434;
$colorHover: #6787FE;
$fontSize: 3.5em;
$fontStack: Roboto, Geneva,Tahoma,Verdana,sans-serif;
$buttonFontSize : 1.5em;
$buttonHeight : 50px;
$buttonBgColor: #FFFFFF;
$buttonPadding: 10px;
$buttonBgBlue: #396DF3;
$buttonBgRed: #EF473A;
$buttonBgGreen: darken(#ADF348, 20);
$buttonBgOrange: #F37144;
$btnColor: #212121;
$bgStaff: #FB3E3F;
$bgJumbo4: #396DF3;

@import "_grid";
@import "_header.scss";
@import "_nav";
@import "_generique";
@import "_alert";
@import "_ariane";
@import "_button";
@import "_jumbo";
@import "_list";
@import "_pagination";
@import "_form";
@import "_footer";
@import "_img";
